<!DOCTYPE html>
<head>
    <title>Jinja sýnidæmi</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- slaufusvigarnir {{ }} eru  placeholders í Jinja fyrir url_for, breytur, dictionary  -->

    <!-- vísar í static möppu og þar í css undirmöppu sem inniheldur style.css skránna -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <!-- <link rel="stylesheet" href="static'/css/style.css"> -->
</head>
<body>
    <p>Þetta er dæmi um einfalt template.</p>
    <p> Í stað þess að harðkóða tengla í html t.d. <a href="/sida1"> Tengill á síðu 1</a>
        Þá getum við notað url_for fall fyrir url bindingu (auðveldara að uppfæra tengla)
        myndband: https://youtu.be/Ofy_jRHE3no?list=PLXmMXHVSvS-CoYS177-UvMAQYRfL3fBtX
    </p>

    <a href="{{ url_for('menu') }}">Main Menu</a>
    <!-- <a href="https://www.mywebsite.com/menu">Main Menu</a> -->
    
    <img src="{{url_for('static', filename='image.png')}}">
</body>
</html>
